body {
  background-image: url(https://www.xtrafondos.com/en/descargar.php?id=5875&resolucion=2560x1440);
  background-size: cover;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1, h2, p {
  text-align: center;
  margin-top: 35px;
}

.survey {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

.element {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #e99eb4;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input[type="submit"] {
  display: block;
  width: 80%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

label {
  line-height: 2;
}

textarea {
  resize: none;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
